<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <table border="1">
        <thead>
            <th>Id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Created At</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="/users/{{user.id}}" >Details</a> | <a href="/users/{{user.id}}/edit">Edit</a>
                    | <a href="/users/{{user.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="/users/new">Add a new user</a></p>
</body>
</html>