*{
    margin: 0;
    padding: 0;
    outline: 1px dashed green;
}

.wrapper {
    padding: 15px;
    width: 970px;
    background-color: silver;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: consolas;
}

header {
    background-color: #49BBBB;
}

.logo {
    margin: 10px;
    display: inline-block;
}

.logo img {
    height: 50px;
}

header h1 {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}

.gitLinks {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

    .gitLinks li {
        list-style: none;
        display: inline-block;
    }

    .gitLinks a {
        color: white;
    }

main{
    height: 720px;
    margin-top: 20px;
    background-color: #FBE691;
    padding: 20px;
}

left-nav {
    padding: 10px;
    display: inline-block;
    width: 18%;
    height: 650px;
    background-color: #153F43;
    color: white;
}

left-nav h2 {
    padding: 10px;
    margin-top: 10px;
}

left-nav p {
    padding: 10px;
}


.gitCommands {
    width: 720px;
    display: inline-block;
    vertical-align: top;
}
    .gitCommands p {
        margin-top: 10px;
    }

    .gitCommandsTopRow{
        /* margin-top: 20px; */
        height: 230px;
        width: 680px;
        display: inline-block;
        margin-left: 30px;
    }

        .gitCommandShort{
            display: inline-block;
            width: 200px;
            height: 200px;
            padding: 10px;
            background-color: #153F43;
            color: white;
        }

    .gitCommandsMiddleRow{
        /* margin-top: 20px;     */
        margin-left: 30px;
        height: 230px;
        width: 680px;
        display: inline-block;
    }

        .gitCommandMedium{
            display: inline-block;
            margin-right: 30px;
            width: 300px;
            height: 200px;
            background-color: #153F43;
            color: white;
        }

    .gitCommandsBottomRow{
        margin-top: 20px;
        margin-left: 30px;
        height: 200px;
        width: 680px;
        display: inline-block;
        margin-bottom: 20px;
    }

        .gitCommandLong{
            display: inline-block;
            margin: 10px;
            width: 630px;
            height: 160px;
            background-color: #153F43;
            color: white;
        }

footer{
    margin-top: 20px;
    background-color: teal;
    padding: 20px;
    text-align: center;
}