<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Reg | Home</title>
</head>
<body>
<p>
    {% if userid > 0 %}
        <table width="100%">
            <tr>
                <td align="left"></td>
                <td align="right"><a href="/login/logout">Logout</a></td>
            </tr>
        </table>
    {% endif %}
</p>
<p>
    <h2>Registration</h2>
</p>
<p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</p>
<p>
    <form action="/login/register" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name" /> </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name" /> </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" /> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password_again" /> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register" /> </td>
            </tr>
        </table>
    </form>
</p>

<p>
    <form method="post" action="/login/login">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" /> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /> </td>
            </tr>
        </table>
    </form>

</p>
</body>
</html>