<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Login!</title>
</head>
<body>
    <p>
        {% if userid > 0 %}
            <table width="100%">
                <tr>
                    <td align="left"></td>
                    <td align="right"><a href="/login/logout">Logout</a></td>
                </tr>
            </table>
        {% endif %}
    </p>

    <p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
</body>
</html>